/* body{
    background-image: url("https://img.freepik.com/free-photo/orange-flowers-oil-paint-textured-background_53876-125221.jpg?w=996&t=st=1720175075~exp=1720175675~hmac=ecddadae5b1627371d7f4420493c56b347d7a3532dad0c55f30792557568c3c3");
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
} */
